.playlist-section {
    margin-bottom: 50px;
}

.playlist-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #505050;
    padding-bottom: 5px;
}

.my-playlist-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;

    color: rgba(255, 255, 255, 0.9);
}

.playlist-container {
    display: flex;
    justify-content: space-between;
}

.playlist-box {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    justify-content: center;
}

.playlist-box:not(:first-child) {
    margin-left: 60px;
}

.start-playlist-container button {
    border: none;
    outline: none;
    background: transparent;
}

.playlist-buttons button{
    border: none;
    outline: none;
    background-color: transparent;
}

.playlist-buttons button:last-child {
    margin-left: 20px;
}

.playlist-box img {
    width: 210px;
    height: 240px;

    filter: drop-shadow(0px 8px 24px rgba(37, 37, 37, 0.15));
    border-radius: 5px;
    object-fit: cover;
    object-position: 50% 50%;
}

.playlist-box span {
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
    font-weight: 500;
    margin-top: 0.5em;
}

.image-container {
    background: red;
    border-radius:5px;
    width: 210px;
    height: 240px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 2s;
}

.image-container .play-playlist{
    position: absolute;
    background: rgba(0, 0, 0, 0.349);
    width: 100%;
    height: 100%;
    display: none;
}

.image-container .play-playlist button {
    border: none;
    background: transparent;
    outline: none;
}

.image-container:hover .play-playlist {
    display: flex;
    align-items: center;
    justify-content: center;
}