@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100vh;
}

body {
    background-color: #0F0F0F;
}

body, a {
    color: rgba(255, 255, 255, 0.9);
}

body, li, a, button, input {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}