.container {
    width: 100%;
    height: 100vh;
    display: grid;
}

.main-section{
    background: #0F0F0F;
}

.music-section {
    background: #1C1C1C;
}

.logo {
    height: 0;
    border: none;
    outline: none;
    background-color: transparent;
}

.main-section {
    display: grid;
    grid-template-columns: 6em 1fr;
}

.main-section .left-nav {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons-nav li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.icons-nav li button {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0.8em;
}

.icons-nav li:first-child {
    border-left: 1px solid #1D8954;
}

.library-container {
    display: flex;
    flex-direction: column;
}

.library-title {
    font-weight: 500;
    font-size: 14px;
    color: rgba(149, 149, 149, 0.9);
    margin-bottom: 25px;
}

.library-menu .library-item {
    margin-bottom: 25px;
}

.library-menu .library-item button {
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;

    color: rgba(255, 255, 255, 0.9);
    font-weight: 500;
    font-size: 14px;
}

.main-section .left-nav .logo {
    width: 40px;
    height: 40px;
    margin-bottom: 30px;
}

.main-section .right-section {
    /* background: rgba(255, 255, 255, 0.39); */
    display: grid;
    grid-template-rows: 5em 1fr;
}

.main-section .right-section .header {  
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .input-box {
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;

    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
    border-radius: 80px;
    background: #1C1C1C;
    width: 850px;
    height: 50px;
}

.header .input-box button {
    border: none;
    outline: none;
    background-color: transparent;
}

.header .input-box input {
    height: 100%;
    width: 100%;
    background: #1C1C1C;
    border: none;
    outline: none;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.9);
    border-radius: 80px;
    padding-left: 10px;
}

.input-options {
    display: flex;
    align-items: center;
}

.input-options .separator {
    width: 1px;
    height: 30px;
    background: grey;
    margin-left: 20px;
    margin-right: 20px;
}

.profile-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.profile-menu {
    display: flex;
    flex-direction: row;
}

.profile-menu li:not(:first-child) {
    margin-left: 10px;
}

.profile-menu li button {
    background-color: red;
    padding: 1em;
    background-color: transparent;
    outline: none;
    border: none;
}

.profile {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.profile img {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
}

.profile button {
    border: none;
    background-color: transparent;
    outline: none;
}

.content {
    padding-top: 4em;
    padding-left: 2em;
    padding-right: 2em;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10em;
}

.playlist-section {

}

.friends-box {
    width: 295px;
    height: 698px;

    background: #1C1C1C;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.playlist-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #505050;
    padding-bottom: 5px;
}

.my-playlist-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: rgba(255, 255, 255, 0.9);
}

.playlist-container {
    display: flex;
}

.playlist-box {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    justify-content: center;
}

.playlist-buttons button{
    border: none;
    outline: none;
    background-color: transparent;
}

.playlist-buttons button:last-child {
    margin-left: 20px;
}

.playlist-box:not(:last-child) {
    margin-right: 3em;
}

.playlist-box img {
    width: 200px;
    height: 250px;

    filter: drop-shadow(0px 8px 24px rgba(37, 37, 37, 0.15));
    border-radius: 10px;
    object-fit: cover;
    object-position: 50% 50%;
}

.playlist-box span {
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
    font-weight: 500;
    margin-top: 0.5em;
}

.playlist-box span {

}