.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 4em;
}

.main-section{
    background: #0F0F0F;
}

.music-section {
    background: #1C1C1C;
}

.main-section {
    display: grid;
    grid-template-columns: 6em 1fr;
}

.main-section .left-nav {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons-nav li{
    width: 100%;
    margin: 10px;
    display: flex;
    height: 35px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}


.library-container {
    display: flex;
    flex-direction: column;
}

.library-title {
    font-weight: 500;
    font-size: 14px;
    color: rgba(149, 149, 149, 0.9);
    margin-bottom: 25px;
}

.library-menu .library-item {
    font-size: 14px;
    margin-bottom: 25px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 500;
}

.main-section .left-nav .logo {
    width: 40px;
    height: 40px;
    margin-bottom: 30px;
}

.main-section .right-section {
    /* background: rgba(255, 255, 255, 0.39); */
    display: grid;
    grid-template-rows: 5em 1fr;
}

.main-section .right-section .header {  
    padding-top: 2.4em;
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .input-box {
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;

    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
    border-radius: 80px;
    background: #1C1C1C;
    width: 850px;
    height: 50px;
}

.header .input-box input {
    height: 100%;
    width: 100%;
    background: #1C1C1C;
    border: none;
    outline: none;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.9);
    border-radius: 80px;
    padding-left: 10px;
}

.input-options {
    display: flex;
    align-items: center;
}

.input-options .separator {
    width: 1px;
    height: 30px;
    background: grey;
    margin-left: 20px;
    margin-right: 20px;
}

.profile-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.profile-menu {
    display: flex;
    flex-direction: row;
}

.profile-menu li:not(:first-child) {
    margin-left: 20px;
}

.profile {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.profile img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
}

.main-section .right-section .content {
    
}

