.container {
    width: 100%;
    height: 100vh;
}

.main-section {
    display: grid;
    grid-template-columns: 6em 1fr;
    background: #131313;
}

.right-section {
    /* background: rgba(255, 255, 255, 0.39); */
    display: grid;
    grid-template-rows: 5em 1fr;
}

.content {
    padding-top: 4em;
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    justify-content: space-between;
}