.header {  
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .input-box {
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;

    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
    border-radius: 80px;
    background: #1C1C1C;
    width: 850px;
    height: 50px;
}

.header .input-box button {
    border: none;
    outline: none;
    background-color: transparent;
}

.header .input-box input {
    height: 100%;
    width: 100%;
    background: #1C1C1C;
    border: none;
    outline: none;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.9);
    border-radius: 80px;
    padding-left: 10px;
}

.input-options {
    display: flex;
    align-items: center;
}

.input-options .separator {
    width: 1px;
    height: 30px;
    background: grey;
    margin-left: 20px;
    margin-right: 20px;
}

.profile-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.profile-menu {
    display: flex;
    flex-direction: row;
}

.profile-menu li:not(:first-child) {
    margin-left: 10px;
}

.profile-menu li button {
    background-color: red;
    padding: 1em;
    background-color: transparent;
    outline: none;
    border: none;
}

.profile {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.profile img {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    object-fit: cover;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
}

.profile button {
    border: none;
    background-color: transparent;
    outline: none;
}