.friends-section {
    width: 19em;
    height: 70vh;
    display: fixed;
    overflow: auto;
    background: #0a0a0a;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 15px;
}

.friends-title {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: bold;
}

.friends {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.friend {
    display: flex;
    margin-bottom: 1.5em;
}

.friend-listening {
    margin-left: 0.5em;
}

.friend img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.friend-name {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 600;
    font-size: 14px;
}

.friend-music {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    margin-top: 8px;
}

.friend-artist {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    margin-top: 8px;
}

.play-friend-song {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.play-friend-song button {
    border: none;
    background: transparent;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-friend-song span{
    margin-left: 5px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
}