.music-section {
    background: #1C1C1C;
    width: 100%;
    height: 5em;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
    z-index: 1;
}

.music-player {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.music {
    display: flex;
    flex-direction: row;
}

.music img {
    width: 65px;
    height: 65px;
}

.about-music {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.music-title {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.9);
}

.artist-name {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 10px;
}

.player-options {
    display: flex;
}

.player-options button {
    background-color: transparent;
    border: none;
    outline: none;
    margin-bottom: 10px;
}

.player {
    margin-left: 18px;
    margin-right: 18px;
}

.volume-options {
    display: flex;
    align-items: center;
}

.volume-options button {
    border: none;
    outline: none;
    background-color: transparent;
}

.volume-slider{
    width: 100px;
    border-radius: 20px;
    background-color: #79F094;
    height: 4px;
    margin-left: 10px;
}

.audio-slider-container {
    display: flex;
    align-items: center;
}

.audio-time {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.9);
}

.audio-slider {
    width: 600px;
    height: 4px;
    position: relative;
    background: #7E7E7E;
    border-radius: 20px;
    margin-left: 8px;
    margin-right: 8px;
}

.atual-audio-slider {
    width: 600px;
    height: 4px;
    position: absolute;
    background: #79F094;
    width: 35%;
    border-radius: 20px;
}