.recomendded-section {
    padding-bottom: 13em;
}

.recomendded-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #505050;
    padding-bottom: 5px;
}

.my-recomendded-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;

    color: rgba(255, 255, 255, 0.9);
}

.recomendded-container {
    display: flex;
    justify-content: space-between;
}

.recomendded-box {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    justify-content: center;
}

.recomendded-box:not(:first-child) {
    margin-left: 60px;
}

.start-recomendded-container button {
    border: none;
    outline: none;
    background: transparent;
}

.recomendded-buttons button{
    border: none;
    outline: none;
    background-color: transparent;
}

.recomendded-buttons button:last-child {
    margin-left: 20px;
}

.recomendded-box img {
    width: 210px;
    height: 240px;

    filter: drop-shadow(0px 8px 24px rgba(37, 37, 37, 0.15));
    border-radius: 5px;
    object-fit: cover;
    object-position: 50% 50%;
}

.recomendded-box span {
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
    font-weight: 500;
    margin-top: 0.5em;
}